/Library
/Library/*
/Logs
/Logs/*
/obj
/obj/*
/Temp
/Temp/*
/.vs
/.vs/*
*.csproj
*.sln
/Assets/AssetPacks/
/Assets/AssetPacks/*
/Assets/AssetPacks
/Assets/InControl/
/Assets/InControl/*
/Assets/InControl
/Assets/Music/*
/Assets/Music
/Assets/SFX/*
/Assets/SFX
/Assets/SC Post Effects
/Assets/SC Post Effects/*
